<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mot de passe oublié</title>
    <!-- Include Tailwind CSS styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="bg-red-100">

    <!-- Tailwind CSS content applied to Thymeleaf template -->
    <section class="h-screen">
        <div class="container h-full px-6 py-24">
            <div class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
                <!-- Left column container with background-->
                <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
                    <img src="https://cdn-icons-png.flaticon.com/512/6554/6554888.png" class="w-full" alt="Phone image" />
                </div>

                <!-- Right column container with form -->
                <div class="md:w-8/12 lg:ml-6 lg:w-5/12">
                    <form th:action="@{/forgotPassword}" th:object="${user}" method="post" class="mb-3 border rounded-lg p-6 bg-red-50">
                        <!-- Form title -->
                        <h2 class="text-2xl font-bold mb-6">Mot de passe oublié</h2>

                        <!-- Afficher un message de réussite ou d'erreur après la soumission du formulaire -->
                        <p th:if="${successMessage}" class="text-green-500 mb-4">[[${successMessage}]]</p>
                        <p th:if="${errorMessage}" class="text-red-500 mb-4">[[${errorMessage}]]</p>

                        <!-- Email input -->
                        <div class="relative mb-4">
                            <label for="email" class="block text-black-500 text-sm font-semibold mb-1">Email address</label>
                            <input type="email" id="email" name="email" th:field="*{email}" required
                                   class="peer block w-full rounded border bg-gray-200 px-3 py-2 outline-none focus:border-blue-500 transition-all duration-200 ease-linear" />
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-500"></span>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="inline-block w-full rounded bg-red-300 px-4 py-2 text-sm font-medium uppercase transition duration-150 ease-in-out hover:bg-red-400 focus:outline-none focus:ring focus:border-blue-300 active:bg-red-700">
                            Envoyer le code de récupération
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
